{% extends 'base.html' %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      
      <p class="lead text-muted">Embeeded Systems | IoT | Low Level C | On this site is a collection of my projects. Some are complete while others require some more time to be done. Bridging the technology gap between my continent and the rest of the world</p>
      <p>
        <a href="{% url "weblog:post_list" %}" class="btn btn-primary my-2">DevLogs 手册</a>
        <a href="{% url "projects:projects_list" %}" class="btn btn-secondary my-2">Projects 项目</a>
        <a href="#" class="btn btn-secondary my-2">Manuals 说明书</a>
        <a href="{% url "about" %}" class="btn btn-secondary my-2">About 关于我</a>
        <a href="{% url "gnupg" %}" class="btn btn-secondary my-2">GPG Public Key</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/gnp.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> GNP: The Githuka Noteonomy Project is a IoT based vehicle technology which is aware of its enviornment.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 30% Complete</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/c.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> LCHW: Learn C The Hard Way - Famous C tutorial by the author Zed A.Shaw. An opportunity to understand C deeper.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 9% Complete</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/zesta2.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> zesta2: An improvement of the first zesta project. This will be a complete make-from-scratch laptop power supply module.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 23% Complete</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/kanyoni.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> kanyoni-kaja: An ESP-32 solar powered bird cage that has a camera & wifi.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 6% Complete</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/cv.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> cv: My self-updating CV served in pdf by Latex</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 2% Complete</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://devgithuka.ap-south-1.linodeobjects.com/107.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text"> 107DaysofCode: Horning my coding skills from 15th September to 31st December 2022.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="" class="btn btn-sm btn-outline-secondary ">View More</a>
                </div>
                <small class="text-muted">Progress: 16% Complete</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}